<% unless @issue %>
    <li>
        <%= context_menu_link l(:button_inline_edit), edit_multiple_inline_issues_path(:ids => @issue_ids, :project_id => (@project.present? ? @project.id : "")),
        :class => 'icon-edit', :disabled => !@can[:edit] %>
    </li>
<% end %>